.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.has-sidebar {
  display: grid;
  grid-template-columns: minmax(20rem, 15vw) auto;
  gap: 0 4rem;
}

.article {
  min-width: 0;
  margin-bottom: 4rem;
}
